@model LearnEnglish.BusinessObjects.EngWord

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Word</title>

    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

   @using (Html.BeginForm("AddWord", "Home", FormMethod.Post, new { autocomplete = "off", id = "form" }))
   {
    <fieldset>
        @Html.HiddenFor(m => m.id)
        @Html.LabelFor(m => m.name, "name")
        <br />
        @Html.TextBoxFor(m => m.name, new { pattern = @"^[a-z]+$" })
        <br />
        <br />
        @Html.LabelFor(m => m.armTranslation, "armTranslation")
        <br />
        @Html.TextBoxFor(m => m.armTranslation)
        <br />
        @Html.HiddenFor(m => m.isLearned)
        <br />
        <input type="button" id="btnSubmit" name="btnSubmit" value="Add" />
    </fieldset>


        <div id="result"></div>

   }

    @Html.ActionLink("Back to Words", "ListAllWords")


    <script>
        $(document).ready(function (e) {
            var url = '@Url.Action("AddWord", "Home")';
            $("#btnSubmit").click(function () {

                    $.post(url, $("#form").serialize(),
                        function (data) {

                            alert(data.result);
                            if (data.isRedirect)
                                window.location.href = '@Url.Content("~/Home/ListAllWords")';
                        
                    });


                });

        });


    </script>

</body>
</html>
