@model IEnumerable<LearnEnglish.BusinessObjects.EngWord>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListWords</title>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</head>
<body>
   
    <p>
        @Html.ActionLink("Add New word", "AddWord")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.armTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isLearned)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.armTranslation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isLearned)
            </td>
            <td>              
                @Html.ActionLink("Delete", "DeletionBox", new { id=item.id }, 
               new { @class = "viewDialog", data_dialog_title = "Deleting model" })      
                
            </td>
        </tr>
    }
         
    </table>


    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script>
         $(document).ready(function () {

             $.ajaxSetup({ cache: false });

             $(".viewDialog").on("click", function (e) {
                 e.preventDefault();

                 $("<div></div>")
                     .addClass("dialog")
                     .appendTo("body")
                     .dialog({
                         title: $(this).attr("data-dialog-title"),
                         close: function () { $(this).remove() },
                         modal: true
                     })
                     .load(this.href);
             });
         });
    </script>
    

    <br />

    @Html.ActionLink("Back to Start page", "Start")

    @Scripts.Render("~/bundles/jqueryval");
</body>
</html>
