
@model LearnEnglish.BusinessObjects.EngWord

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizStart</title>
   
</head>
<body>
    <div> 
        @if (@Model != null)
        {
            <form method="post" action="QuizStart">
                <input type="hidden" value="@Model.id" name="TranslationId" autocomplete="off"/>
                <input type="hidden" value="@Model.armTranslation" name="ArmTranslation" autocomplete="off"/>

                <h4 style="margin-left:50px"> All Words: @ViewBag.totalRecords </h4>
                <h4 style="margin-left:50px"> Correct Answers: @ViewBag.correctAnswers </h4>
                <table>
                    <tr>
                        <td><h3> Word : </h3></td>                                  
                        <td><h3> @ViewBag.passedEnglishWordModelObject.name </h3></td>                        
                    </tr>             
                    <tr>
                        <td><p> Translation </p></td>
                        <td>
                            <input type="text" name="FilledTranslation" autocomplete="off"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Check"  /> </td>  
                        <td><input id="Abort" type="button" value="Abort Quiz" onclick="location.href='@Url.Action("Start", "Home")'"/> </td>
                    </tr>
                </table>
            </form>
        } else {
            <h3> Quiz ended </h3>
            <h4> Correct Answers: @ViewBag.correctAnswers/@ViewBag.totalRecords </h4>
            <br />
            @Html.ActionLink("Back to Start page", "Start");
        }
    </div>

   
</body>
</html>
